body {
  color: #c9c1ac;
  background: url(../images/menu-background-img.jpg) center/cover fixed no-repeat;
  font-family: Montserrat, sans-serif;
}

/*top section*/

.info {
  background: rgb(0, 0, 0);
}

.primary-color {
  color: #d9d9d9;
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 1s ease-in-out;
}

.info a:hover {
  color: #242424;
}

/*end of top section*/

/*header section*/

#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.41)), url(../images/background-img.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  border-top: 1px solid #c9c1ac;
  border-bottom: 1px solid #c9c1ac;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.58);
  animation: fromLeft;
  animation-duration: 3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.banner strong {
  color: rgba(224, 224, 224, 0.85);
}

@keyframes fromLeft {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.banner .main-btn {
  color: #ffffff;
}

.main-btn {
  color: #171717;
  font-size: 2rem;
  border: 1px solid #a8a8a8;
  transition: all 1s ease-in-out;
}

.about-service-btn {
  animation: fromRight;
  animation-duration: 4s;
}

@keyframes fromRight {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.main-btn:hover {
  color: #242424;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: rgba(163, 163, 163, 0.75);
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.header-link:hover {
  color: #333;
  background-color: rgba(214, 214, 214, 0.68);
}

/*navbar section*/

.navbar {
  background: rgba(34, 34, 34, 0.9);
  padding: 20px 20px;
  transition: all 1s ease;
}

.navbar-background {
  padding: 5px 20px;
}

.navbar-brand {
  font-size: 26px;
  transition: all 1s ease;
}

.navbar-brand:hover {
  color: #d1f6ff;
}

.nav-link {
  color: #f7f7f7;
  text-decoration: none;
  transition: all 1s ease;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.nav-link:hover {
  color: #d1f6ff;
}

.nav-btn {
  background: transparent;
  color: #f7f7f7;
  border: 1px solid #d1f6ff;
  font-size: 20px;
  transition: all 1s ease;
}

.nav-btn:hover {
  color: #d1f6ff;
  border: 1px solid #a0ecff;
  transform: rotate(1deg);
}

.toggler-btn {
  border: 1px solid #d3325f;
  padding: 5px;
  transition: all 1s ease;
}

.bar {
  width: 30px;
  height: 2px;
  margin: 5px;
  background: #d3325f;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

/*end of navbar section*/

/*end of header section*/

/*special items*/

.item-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: all 2s ease;
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.03);
  opacity: 0.7;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d1f6ff;
  background-color: rgba(2, 2, 2, 0.4);
  font-size: 2rem;
  border-top: 1px solid #d1f6ff;
  border-bottom: 1px solid #d1f6ff;
  transition: all 1s ease;
  opacity: 0;
}

.item-container:hover .item-link {
  opacity: 1;
  border-radius: 6px;
}

.item-link:hover {
  color: #c9c1ac;
  border: 1px solid #c9c1ac;
  background: #c9c1ac;
  color: #242424;
}

.item-container:hover {
  outline: 3px solid #c9c1ac;
  outline-offset: -0.8rem;
}

/*end of special items*/

/*menu items*/

#menu {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

#menu h1 {
  color: #333;
}

#menu .col-md-6 {
  border-right: 1px solid rgba(51, 51, 51, 0.9);
  border-bottom: 1px solid rgba(51, 51, 51, 0.9);
}

#menu .col-md-6:nth-child(2n) {
  border-right: none;
}

#menu .col-md-6:nth-child(3n) {
  border-bottom: none;
}

#menu .col-md-6:nth-child(4n) {
  border-right: none;
  border-bottom: none;
}

.special {
  border: 1px solid rgba(255, 62, 62, 0.9);
  position: relative;
}

.special-text {
  position: absolute;
  top: 0;
  right: 4%;
  background: rgba(255, 62, 62, 0.9);
  padding: 0 0.3rem;
  color: #ececec;
  font-size: 1.11rem;
  font-weight: 300;
}

/*end of menu items*/

/*about section*/

#about {
  background-color: rgba(0, 0, 0, 0.3);
}

.about-text h3 {
  color: #ffffff;
}

.about-text h4 {
  color: #ffffff;
  font-weight: 200;
}

.about-text .main-btn {
  color: #fff;
  font-weight: 300;
}

.about-text .main-btn:hover {
  color: #222;
  background-color: rgba(255, 255, 255, 0.75);
}

.about-pictures {
  position: relative;
}

.about-image {
  position: absolute;
  width: 150px;
  transition: all 1s ease;
  opacity: 0.9;
}

.img-1 {
  left: 0%;
  top: 0%;
}

.img-2 {
  left: 20%;
  top: 20%;
  z-index: 10;
}

.img-3 {
  left: 40%;
  top: 45%;
  z-index: 20;
}

.img-4 {
  left: 40%;
  top: 0%;
}

.img-5 {
  left: 0%;
  top: 45%;
}

.about-image:hover {
  outline: 1px solid rgba(86, 209, 255, 0.41);
  outline-offset: 0.4rem;
  transform: scale(1.05);
  z-index: 30;
  opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
  opacity: 0.5;
}

/*end of about section*/

/*review section*/

.review-img {
  width: 150px;
}

.review-item {
  background: rgba(255, 255, 255, 0.5);
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}

.review-text h3,
.review-text p {
  color: #000000;
}

/*end of review section*/

/*team section*/

.card-title h3,
.card-title h4 {
  color: #0f0f0f;
}

.team-icons a {
  transition: all 1s ease-in-out;
}

.team-icons .fa-facebook {
  color: #3b5998;
}

.team-icons .fa-vk {
  color: #4d7198;
}

.team-icons .fa-instagram {
  color: #517fa4;
}

.team-icons .fa-google-plus {
  color: #dd4b39;
}

.team-icons a:hover {
  transform: translateY(-2px);
}

/*end of team section*/

/*contact section*/

.height-60 {
  min-height: 60vh;
}

#contact .card {
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#contact .card:hover {
  background: rgba(0, 0, 0, 0.8);
}

#contact .card-header {
  color: #eaeaea;
}

#contact .input-group-text {
  background: rgba(240, 240, 240, 0);
  border-color: rgb(240, 240, 240);
  color: #ffffff;
}

#contact .card input {
  color: #606060;
}

#contact .card input::placeholder {
  color: #606060;
}

.contact-btn {
  color: #f7f7f7;
  border-color: rgba(240, 240, 240, 0.3);
  background: transparent;
  transition: all 0.9s ease-in-out;
}

.contact-btn:hover {
  background: rgba(232, 232, 232, 0.9);
  color: #1b1b1b;
  border-color: #1f1f1f;
}

/*end of contact section*/

/*footer section*/

#back-to-top {
  background: rgba(209, 209, 209, 0.9);
  color: #1a1a1a;
  border-radius: 10px;
  display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 5rem;
  right: 10px;
}

/*end of footer section*/
